#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

.status-bar,
#chat-screen .alt-header {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  top: 0px;
  padding: 5px;
  margin-bottom: 15px;
}

#chat-screen .status-bar {
  z-index: 2;
  /* background-color: white; */
}

#chat-screen .alt-header {
  top: 20px;
  z-index: 1;
  background-color: #abc1d1;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn .8s linear;
}

.chat__timestamp {
  margin-bottom: 25px;
  color: white;
  background-color: #92a4b2;
  padding:15px;
  border-radius: 25px;
  font-size: 14px;
}

@keyframes message-row {
  from {
  opacity: 0;
  transform: translateX(-30px);
  }
  to {
  opacity: 1;
  transform: none;
  }
}
  

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: message-row 1s ease-in-out;
}

.message-row img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.message__author {
  margin-bottom: 5px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding:12px;
  font-size: 18px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__time,
.message__author {
  opacity: 0.8;
  font-size: 14px;
}

@keyframes message-row--own {
  from {
  opacity: 0;
  transform: translateX(30px);
  }
  to {
  opacity: 1;
  transform: none;
  }
}

.message-row__own {
  justify-content: flex-end;
  animation: message-row--own 1s ease-in-out;
}

.message-row__own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row__own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all .3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.6;
}

.reply input {
  padding: 12px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all .3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -3px;
  top: 2px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 10px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}


.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-grin,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-grin,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 98vw;
  transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}

