/* .screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  opacity: 90%;
  } */

  .screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
  }

  .screen-header__title {
    font-size: 32px;
    font-weight: 600;
  }

  .screen-header__icons span{
    /* position: relative; */
    margin-left: 20px;
  }

  .screen-header__point {
    position:relative ;
  }

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1.5s linear infinite;
  }